/* Font */
@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('fonts/MinionPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans-Semibold.ttf') format('truetype');
}

#app {
    display: none;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.color-main {
    background-color: #409EFF;
    color: #ffffff;
}

.color-neutral {
    background-color: #edf2fc;
    color: #5a5e66;
}